__pycache__/
.cache
.coverage
.coverage.*
.DS_Store
.dump/
.eggs/
.env
.idea/
.installed.cfg
.ipynb_checkpoints
.nox/
.Python
.python-version
.tox/
.venv/
.vscode/
*.egg
*.egg-info/
*.ipynb
*.log
*.manifest
*.mo
*.numbers
*.pot
*.py[cod]
*.so
*.spec
/target/
bnacore/examples/output
build/
cache/
Cargo.lock
coverage.xml
data/
develop-eggs/
dist/
docs/_build/
docs/public/
downloads/
eggs/
env/
examples/data/
fips_place_lookup.csv
fips_place_lookup.manifest.json
htmlcov/
lib/
lib64/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
pipelines/brochures/output/
pipelines/retrieve/output/
profile.svg
results/*
sdist/
spokes/examples/brochures/brochure.csv
spokes/examples/brochures/output/
spokes/examples/brochures/shortcodes-2021-v15.csv
spokes/output/
svggloo/target/
target/
tools/fips_place_lookup.csv
tools/fips_place_lookup.manifest.json
var/
venv/
