name: bnacore

defaults:
  run:
    working-directory: bnacore

on:
  pull_request:
    paths:
      - ".github/**"
      - "bnacore/**"
    types:
      - opened
      - synchronize
      - reopened
  push:
    paths:
      - ".github/**"
      - "bnacore/**"
    branches:
      - main
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: rustup component add clippy rustfmt
      - uses: Swatinem/rust-cache@v1
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --manifest-path bnacore/Cargo.toml --check
      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --manifest-path bnacore/Cargo.toml -- -D warnings
      - uses: actions-rs/cargo@v1
        with:
          command: check
          args: --manifest-path bnacore/Cargo.toml

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - uses: Swatinem/rust-cache@v1
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --manifest-path bnacore/Cargo.toml

  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: Swatinem/rust-cache@v1
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --manifest-path bnacore/Cargo.toml
