name: docs

defaults:
  run:
    working-directory: docs

on:
  pull_request:
    paths:
      - ".github/workflows/docs.yml"
      - "docs/**"
      - "Cargo.toml"
    types:
      - opened
      - synchronize
      - reopened
  push:
    paths:
      - ".github/workflows/docs.yml"
      - "docs/**"
    branches:
      - main
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: extractions/setup-just@v3
      - name: Lint markdown files
        run: just lint

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: build
        uses: shalzz/zola-deploy-action@v0.22.0
        env:
          BUILD_DIR: docs
          BUILD_ONLY: true
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: docs
          path: docs/public

  # Noop job to statisfy the branch protection.
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

  deploy:
    runs-on: ubuntu-latest
    needs:
      - lint
      - build
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: docs
          path: docs/public
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/public
