name: incubator

defaults:
  run:
    working-directory: incubator

on:
  pull_request:
    paths:
      - ".github/workflows/incubator.yml"
      - "incubator/**"
      - "Cargo.toml"
    types:
      - opened
      - synchronize
      - reopened
  push:
    paths:
      - ".github/workflows/incubator.yml"
      - "incubator/**"
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
